body{
	min-height: 100Vh;
	background-color: White;
	margin: 50px;
	text-align : center;
}
.container {
	max-width: 1000px;
	position: relative;
	width : 100%;
	margin: 150px auto;
	padding: 30px;
}
.container filter {
	display: flex;
	justify-content : center;
	align-items : center;
	gap: 20px;
	
}
.container  button {
   padding : 10px 15px;
   background : white;
   box-shadow :0 5px 5px rgba(0,0,0,2);
   cursor : pointer;
}

.container button.category {
	background : rgb(130,189.238);
	Color : Pink;
}
.category{
	
	display: flex;
	align-items: center;
	flex-wrap :wrap;
}
.category{
	flex-basis : 300px;
	text-align: center;
	padding : 3px;
	border-radius: 8px
}
.category img{
	 width: 50%;
	 height: 300px;
	object-fit: cover;
	Padding : 10px;
	display: inline-block;
 }
.filter {
	display : none;
}