body{
	min-height: 100Vh;
	background-color:White;
	margin: 50px;
	text-align : center;
	padding-top : 20px;
}
.container {
	max-width: 1000px;
	position: relative;
	width : 100%;
	margin: 100px auto;
	padding: 50px;
	display: inline-block;
   padding-top: 20px;
  
	
}
.container filter {
	display: flex;
	justify-content : center;
	align-items : center;
	gap: 20px;
	
}
.active{
	color : white;
}
.container  button {
   padding : 10px 15px;
   background : black;
   box-shadow :0 5px 5px rgba(0,0,0,2);
   cursor : pointer;
   Color : Pink;
  
}

.category{
	
	display: flex;
	flex-wrap :wrap;
}

.category img{
	 width: 180px;
	 height: 300px;
	padding : 15px 15px;
	

	
 }
.filter {
	display : none;
}
